MUMBAI_RPC_URL="https://polygon-mumbai.g.alchemy.com/v2/ExampleKey"
SEPOLIA_RPC_URL="https://eth-sepolia.g.alchemy.com/v2/ExampleKey"

PRIVATE_KEY="ExampleKey"
SECOND_PRIVATE_KEY="SECONDWALLET KEY HERE"

ETHERSCAN_API_KEY="ETHERSCAN API key (Get a free one: https://etherscan.io/)"
POLYGONSCAN_API_KEY="POLYGONSCAN API key (Get a free one: https://polygonscan.com/)"

ALPA_VANTANGE_API_key="PRIVATE_KEY"
FRED_API_KEY="PRIVATE_KEY" 
BLS_API_KEY="PRIVATE_KEY"



